{% extends 'comun/crear.html' %}
{% load static %}


{% block encabezadoForm %}
    {% if action == 'crear' %}
    <i class="ik ik-user-plus"> {{ titulo }}</i>
    {% else %}
        <i class="ik ik-edit "> {{ titulo }}</i>
    {% endif %}
{% endblock %}



{% block formulario %}
    <form method="post" name="usuarioForm" id="usuarioForm" enctype="multipart/form-data" >
        {% csrf_token %}
        <div class="row">
            <div class="col-4">
                <h4 class="sub-title">Nombre</h4>
                <div class="form-group">
                    <div class="input-group input-group-primary">
                        <span class="input-group-prepend"><label class="input-group-text"><i
                                class="ik ik-airplay"></i></label></span>
                        {{ form.name }}
                    </div>
                </div>
            </div>
            <div class="col-4">
                <h4 class="sub-title">Apellidos</h4>
                <div class="form-group">
                    <div class="input-group input-group-primary">
                        <span class="input-group-prepend"><label class="input-group-text"><i
                                class="ik ik-airplay"></i></label></span>
                        {{ form.last_name }}
                    </div>
                </div>
            </div>
            <div class="col-4">
                <h4 class="sub-title">Nombre de Usuario</h4>
                <div class="form-group">
                    <div class="input-group input-group-primary">
                        <span class="input-group-prepend"><label class="input-group-text"><i
                                class="ik ik-hard-drive"></i></label></span>
                        {{ form.username }}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <h4 class="sub-title">Contraseña</h4>
                <div class="form-group">
                    <div class="input-group input-group-primary">
                        <span class="input-group-prepend"><label class="input-group-text"><i
                                class="ik ik-fast-forward"></i></label></span>
                        {{ form.password }}
                    </div>
                </div>
            </div>
            <div class="col-4">
                <h4 class="sub-title">Email</h4>
                <div class="form-group">
                    <div class="input-group input-group-primary">
                        <span class="input-group-prepend"><label class="input-group-text"><i
                                class="ik ik-fast-forward"></i></label></span>
                        {{ form.email }}
                    </div>
                </div>
            </div>
            <div class="col-4">
                <h4 class="sub-title">Roles</h4>
                <div class="form-group">
                        {{ form.groups }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <h4 class="sub-title">Imagen</h4>
                <div class="form-group">
                        {{ form.image }}
                </div>
            </div>
        </div>
        <hr>
        <button type="submit" class="btn btn-primary mr-2"><i class="fa fa-save "></i> Aceptar</button>
        <a href="{% url 'usuario:listarUsuario' %}" class="btn btn-secondary mr-2"><i
                class="fa fa-arrow-alt-circle-left "></i>Cancelar</a>
    </form>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'propios/js/usuario/form.js' %}"></script>
{% endblock %}