{% extends 'comun/listar.html' %}
{% load static %}

{% block encabezadoTabla %}
    <i class="fa fa-table"></i> <strong>LISTADO DE ESPECIALIDADES</strong>
{% endblock %}
{% block table %}
    <table class="table table-hover table-striped table-bordered" id="tblEspecialidad">
        <thead>
        <tr>
            <th>Acciones</th>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Nivel</th>
        </tr>
        </thead>
        <tbody>
        {% for especialidad in especialidades %}
            <tr>
                <td>
                    <a class="Acciones" href="{% url 'cuadro:modificarEspecialidad' especialidad.pk %}"
                       type="button" title="Modificar"><i class="fa fa-edit ml-15"></i></a>
                    {% if perms.usuario.oficinaCentral %}
                        <a class="Acciones" href="#" type="button" data-id="{{ especialidad.id }}" name="eliminarEspecialidad"
                           title="Eliminar"><i class="fa fa-trash"></i></a>
                    {% endif %}
                </td>
                <td>{{ especialidad.codigo }}</td>
                <td>{{ especialidad.descripcion }}</td>
                <td>{{ especialidad.nivel }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block buttons %}
    <a href="{% url 'cuadro:crearEspecialidad' %}" type="button" class="btn btn-primary buttonCrear"><i
            class="fa fa-plus"></i>Nueva Especialidad</a>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'propios/js/cuadro/listar.js' %}"></script>
{% endblock %}