{% extends 'comun/listar.html' %}

{% block encabezadoTabla %}
    <i class="fa fa-table"></i> <strong>PLANTILLA DE CARGOS DE CUADRO</strong>
{% endblock %}

{% block subEncabezadoTabla %}
    <span class="text-uppercase"><strong>Oficina Central de la ONEI</strong></span>
{% endblock %}

{% block contentExtra %}
    <input class="ocultarEdad" hidden type="text" id="min" name="min">
    <input class="ocultarEdad" hidden type="text" id="max" name="max">
{% endblock %}


{% block table %}
    <table class="table table-hover table-striped table-bordered" id="tblCuadro">
        <div class="row">
            <div class="col-6 offset-6 hidden" id="componenteRangoEdad">
                <div class="alert alert-dismissible fade show" role="alert">
                    <span class="badge badge-dark mb-0  text-uppercase text-center ">Filtro por rango de Edad</span>
                    <hr>
                    <input id="rangoEdad" type="text" name="rangoEdad" value=""
                           class="irs-ocultar" tabindex="-1" readonly="">
                    <button type="button" class="close cerrarFiltro" data-dismiss="alert" aria-label="Close">
                        <i class="ik ik-x"></i>
                    </button>
                    <br>
                </div>
            </div>
        </div>
        <thead>
        <tr>
            <th rowspan="">Acciones</th>
            <th rowspan="">Cargo</th>
            <th rowspan="">Nivel de Subordinacion</th>
            <th rowspan="">Provincia</th>
            <th rowspan="">Municipio</th>
            <th rowspan="">Categoria</th>
            <th rowspan="">CI</th>
            <th rowspan="">Nombre</th>
            <th rowspan="">Apellidos</th>
            <th rowspan="">Especialidad</th>
            <th rowspan="">Sexo</th>
            <th rowspan="">Edad</th>
            <th rowspan="">Años de exeriencia(DIRECCION)</th>
            <th rowspan="">Años de exeriencia(RAMA)</th>
            <th rowspan="">Color</th>
            <th rowspan="">Militancia</th>
        </tr>
        </thead>
        <tbody>
        {% for cuadro in cuadros %}
            <tr>

                <td>
                    <a class="miTippy Acciones ml-15" href="{% url 'cuadro:modificarCuadro' cuadro.pk %}"
                       type="button" title="Modificar"><i class="fa fa-edit"></i></a>
                    <a class="miTippy Acciones" href="#"
                       onclick="notificacionDelete('Notificacion', 'Estas seguro que desea eliminar este cuadro.', 'http://127.0.0.1:8000/cuadro/eliminarCuadro/'+{{ cuadro.pk }},{{ cuadro.pk }} )"
                       type="button" title="Eliminar"><i class="fa fa-trash"></i></a></td>
                <td class="text-center">{{ cuadro.fk_cargo.nombre }}</td>
                <td class="text-center">{{ cuadro.fk_cargo.nivel_subordinacion }}</td>
                {% if cuadro.fk_cargo.provincia == None %}
                    <td><a href="#" type="button"><i class="ml-40 fa fa-times-circle" style="color: red"></i></a></td>
                {% else %}
                    <td class="text-center">{{ cuadro.fk_cargo.provincia.descripcion }}</td>
                {% endif %}
                {% if cuadro.fk_cargo.municipio == None %}
                    <td><a href="#" type="button"><i class="ml-40 fa fa-times-circle" style="color: red"></i></a></td>
                {% else %}
                    <td class="text-center">{{ cuadro.fk_cargo.municipio.descripcion }}</td>
                {% endif %}
                <td class="text-center">{{ cuadro.categoria }}</td>
                <td class="text-center">{{ cuadro.ci }}</td>
                <td class="text-center">{{ cuadro.nombre }}</td>
                <td class="text-center">{{ cuadro.apellidos }}</td>
                <td class="text-center">{{ cuadro.fk_especialidad.nombre }}</td>
                <td class="text-center">{{ cuadro.sexo }}</td>
                <td class="text-center">{{ cuadro.edad }}</td>
                {% if cuadro.anos_experiencia_direccion == None %}
                    <td><a href="#" type="button"><i class="ml-40 fa fa-times-circle" style="color: red"></i></a></td>
                {% else %}
                    <td class="text-center">{{ cuadro.anos_experiencia_direccion }}</td>
                {% endif %}
                {% if cuadro.anos_experiencia_rama == None %}
                    <td><a href="#" type="button"><i class="ml-40 fa fa-times-circle" style="color: red"></i></a></td>
                {% else %}
                    <td class="text-center">{{ cuadro.anos_experiencia_rama }}</td>
                {% endif %}
                <td class="text-center">{{ cuadro.color }}</td>
                {% if cuadro.militancia == None %}
                    <td><a href="#" type="button"><i class="ml-40 fa fa-times-circle" style="color: red"></i></a></td>
                {% else %}
                    <td class="text-center">{{ cuadro.militancia }}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block buttons %}
    <a href="{% url 'cuadro:crearCuadro' %}" type="button" class="btn btn-primary buttonCrear"><i
            class="fa fa-plus"></i>Nuevo Cuadro</a>
    <a href="#" type="button" class="btn btn-primary buttonCrear" id="eliminarTodos"><i
            class="fa fa-minus-circle"></i>Eliminar todos</a>
{% endblock %}
