{% extends 'comun/listar.html' %}
{% load filters %}

{% block encabezadoTabla %}
    <i class="fa fa-table"></i> <strong>PLANTILLA DE CARGOS DE CUADRO</strong>
{% endblock %}

{% block subEncabezadoTabla %}
    <span class="text-uppercase"><strong>Oficina Central de la ONEI</strong></span>
{% endblock %}

{% block contentExtra %}
    <input class="ocultarEdad" hidden type="text" id="min" name="min">
    <input class="ocultarEdad" hidden type="text" id="max" name="max">
{% endblock %}


{% block table %}
    <table class="table table-hover table-striped table-bordered" id="tblCuadro">
        <div class="row">
            <div class="col-4 offset-8 hidden" id="componenteRangoEdad">
                <div class="alert alert-dismissible fade show" role="alert">
                    <span class="badge badge-primary mb-0  text-uppercase text-center ">Filtro por rango de Edad</span>
                    <hr>
                    <input id="rangoEdad" type="text" name="rangoEdad" value=""
                           class="irs-ocultar" tabindex="-1" readonly="">
                    <button type="button" class="close cerrarFiltro" data-dismiss="alert" aria-label="Close">
                        <i class="ik ik-x"></i>
                    </button>
                    <br>
                </div>
            </div>
        </div>
        <thead>
        <tr>
            <th rowspan="">Acciones</th>
            <th rowspan="">Cargo</th>
            <th rowspan="">Nivel de Subordinacion</th>
            <th rowspan="">Provincia</th>
            <th rowspan="">Municipio</th>
            <th rowspan="">Categoria</th>
            <th rowspan="">CI</th>
            <th rowspan="">Nombre</th>
            <th rowspan="">Apellidos</th>
            <th rowspan="">Especialidad</th>
            <th rowspan="">Edad</th>
            <th rowspan="">Sexo</th>
            <th rowspan="">Años de exeriencia(DIRECCION)</th>
            <th rowspan="">Años de exeriencia(RAMA)</th>
            <th rowspan="">Color</th>
            <th rowspan="">Militancia</th>
            <th rowspan="">Estado</th>
        </tr>
        </thead>
        <tbody>
        {% for cuadro in cuadros %}
            <tr>

                <td>
                    {% if cuadro.estado == True %}
                        <a class="miTippy Acciones" href="#" name="desactivarCuadro" data-id="{{ cuadro.pk }}"
                           type="button" title="Desactivar Cuadro"><i class="fa fa-exclamation-triangle ml-15"></i></a>
                    {% else %}
                        <a class="miTippy Acciones" href="#" name="activarCuadro" data-id="{{ cuadro.pk }}"
                           type="button" title="Activar Cuadro"><i class="fa fa-check-circle ml-15"></i></a>
                    {% endif %}
                    <a class="miTippy Acciones" href="{% url 'cuadro:modificarCuadro' cuadro.pk %}"
                       type="button" title="Modificar"><i class="fa fa-edit"></i></a>
                    <a class="miTippy Acciones" href="#" data-id="{{ cuadro.id }}" name="eliminarCuadro"
                       type="button" title="Eliminar"><i class="fa fa-trash"></i></a></td>
                <td class="text-center">{{ cuadro.fk_cargo.nombre }}</td>
                <td class="text-center">{{ cuadro.fk_cargo.nivel_subordinacion }}</td>
                {% if cuadro.fk_cargo.provincia == None %}
                    <td><a href="#" type="button"><i class="ml-40 fa fa-times-circle" style="color: red"></i></a></td>
                {% else %}
                    <td class="text-center">{{ cuadro.fk_cargo.provincia.descripcion }}</td>
                {% endif %}
                {% if cuadro.fk_cargo.municipio == None %}
                    <td><a href="#" type="button"><i class="ml-40 fa fa-times-circle" style="color: red"></i></a></td>
                {% else %}
                    <td class="text-center">{{ cuadro.fk_cargo.municipio.descripcion }}</td>
                {% endif %}
                <td class="text-center">{{ cuadro.categoria }}</td>
                <td class="text-center">{{ cuadro.ci }}</td>
                <td class="text-center">{{ cuadro.nombre }}</td>
                <td class="text-center">{{ cuadro.apellidos }}</td>
                <td class="text-center">{{ cuadro.fk_especialidad.nombre }}</td>
                <td class="text-center">{{ cuadro.edad }}</td>
                <td class="text-center">{{ cuadro.sexo }}</td>
                {% if cuadro.anos_experiencia_direccion == None %}
                    <td><a href="#" type="button"><i class="fa fa-times-circle" style="color: red"></i></a></td>
                {% else %}
                    <td class="">{{ cuadro.anos_experiencia_direccion }}</td>
                {% endif %}
                {% if cuadro.anos_experiencia_rama == None %}
                    <td><a href="#" type="button"><i class="fa fa-times-circle" style="color: red"></i></a></td>
                {% else %}
                    <td class="">{{ cuadro.anos_experiencia_rama }}</td>
                {% endif %}
                <td class="text-center">{{ cuadro.color }}</td>
                {% if cuadro.militancia == None %}
                    <td><a href="#" type="button"><i class="ml-40 fa fa-times-circle" style="color: red"></i></a></td>
                {% else %}
                    <td class="text-center">{{ cuadro.militancia }}</td>
                {% endif %}
                {% if cuadro.estado == True %}
                    <td><span class="badge badge-success">Activo</span></td>
                {% else %}
                    <td><span class="badge badge-danger">Inactivo</span></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block buttons %}
    {% if request.user|existenVacantes == True %}
        <a href="{% url 'cuadro:crearCuadro' %}" type="button" class="btn btn-primary buttonCrear"><i
                class="fa fa-plus"></i>Nuevo Cuadro</a>
    {% else %}
        <button class="btn btn-primary disabled  buttonCrear" title="No existen cargos vacantes"><i
                class="ik ik-slash"></i>Nuevo cuadro
        </button>
    {% endif %}
    {% if perms.usuario.administrador  or perms.usuario.oficinaCentral %}
        <a href="#" type="button" class="btn btn-primary buttonCrear" name="eliminarTodos"><i
                class="fa fa-minus-circle"></i>Eliminar todos</a>
    {% endif %}
{% endblock %}
