{% extends 'comun/listar.html' %}
{% load static %}

{% block encabezadoTabla %}<i class="fa fa-table"></i> <strong>LISTADO DE CARGOS</strong>{% endblock %}
{% block table %}
    <table class="table table-hover table-striped table-bordered" id="tblCargos">
        <thead>
        <tr>
            <th>Acciones</th>
            <th>Nombre</th>
            <th>Nivel de Subordinacion</th>
            <th>Provincia</th>
            <th>Municipio</th>
            <th>Observaciones</th>
            <th>Vacante</th>
            <th>Activo</th>
        </tr>
        </thead>
        <tbody>
        {% for cargo in cargos %}
            <tr>
                <td>
                    {% if cargo.estado == True %}
                    <a class="miTippy Acciones" href="#" name="desactivarCargo" data-id="{{ cargo.pk }}"
                       type="button" title="Desactivar Cargo"><i class="fa fa-exclamation-triangle ml-15"></i></a>
                    {% else %}
                    <a class="miTippy Acciones" href="#" name="activarCargo" data-id="{{ cargo.pk }}"
                       type="button" title="Activar Cargo"><i class="fa fa-check-circle ml-15"></i></a>
                    {% endif %}
                    <a class="miTippy Acciones" href="{% url 'cuadro:modificarCargo' cargo.pk %}"
                       type="button" title="Modificar"><i class="fa fa-edit"></i></a>
                    <a class="miTippy Acciones" href="#" type="button" data-id="{{ cargo.id }}" name="eliminarCargo"
                       title="Eliminar"><i class="fa fa-trash"></i></a></td>
                <td>{{ cargo.fk_clasificador_cargo_cuadro.descripcion }}</td>
                <td>{{ cargo.nivel_subordinacion }}</td>
                {% if cargo.provincia.descripcion == None %}
                    <td><a href="#" type="button"><i class="fa fa-times-circle" style="color: red"></i></a></td>
                {% else %}
                    <td class="">{{ cargo.provincia.descripcion }}</td>
                {% endif %}
                {% if cargo.municipio.descripcion == None %}
                    <td><a href="#" type="button"><i class="fa fa-times-circle" style="color: red"></i></a></td>
                {% else %}
                    <td class="">{{ cargo.municipio.descripcion }}</td>
                {% endif %}
                {% if cargo.observaciones == None %}
                    <td><a href="#" type="button"><span class="badge badge-primary">Sin observaciones</span> </a></td>
                {% else %}
                    <td><a href="#" type="button"><span class="badge badge-primary">{{ cargo.observaciones }}</span> </a></td>
                {% endif %}
                {% if cargo.vacante == True %}
                    <td><a href="#" type="button"><i class="fa fa-check-circle" style="color: #01ff70"></i></a></td>
                {% else %}
                    <td><a href="#" type="button" title="{{ clasificadorInd.activo }}"><i class="fa fa-times-circle"
                                                                                          style="color: red"></i></a>
                    </td>
                {% endif %}
                {% if cargo.estado == True %}
                    <td><a href="#" type="button"><i class="fa fa-check-circle" style="color: #01ff70"></i></a></td>
                {% else %}
                    <td><a href="#" type="button" title="{{ clasificadorInd.activo }}"><i class="fa fa-times-circle"
                                                                                          style="color: red"></i></a>
                    </td>
                {% endif %}

            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block buttons %}
    <a href="{% url 'cuadro:crearCargo' %}" type="button" class="btn btn-primary buttonCrear">
        <i class="fa fa-plus"></i>Nuevo Cargo</a>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'propios/js/cuadro/listar.js' %}"></script>
{% endblock %}