{% extends 'comun/listar.html' %}

{% block encabezadoTabla %}
    <i class="fa fa-table"></i> <strong>LISTADO DE ESPECIALIDADES</strong>
{% endblock %}
{% block table %}
    <table class="table table-hover table-striped table-bordered" id="tblEspecialidad">
        <thead>
        <tr>
            <th>Acciones</th>
            <th>Nombre</th>
            <th>Activo</th>
        </tr>
        </thead>
        <tbody>
        {% for especialidad in especialidades %}
            <tr>
                <td>
                    <a class="miTippy Acciones" href="{% url 'cuadro:modificarEspecialidad' especialidad.pk %}"
                       type="button" title="Modificar"><i class="fa fa-edit ml-15"></i></a>
                    {% if perms.usuario.administrador  or perms.usuario.oficinaCentral %}
                        <a class="miTippy Acciones" href="#" type="button" data-id="{{ especialidad.id }}" name="especialidadCuadro"
                           title="Eliminar"><i class="fa fa-trash"></i></a>
                    {% endif %}
                </td>
                <td>{{ especialidad.nombre }}</td>
                {% if especialidad.estado == True %}
                    <td><a href="#" type="button"><i class="fa fa-check-circle" style="color: #01ff70"></i></a></td>
                {% else %}
                    <td><a href="#" type="button"><i class="fa fa-times-circle" style="color: red"></i></a>
                    </td>
                {% endif %}

            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block buttons %}
    <a href="{% url 'cuadro:crearEspecialidad' %}" type="button" class="btn btn-primary buttonCrear"><i
            class="fa fa-plus"></i>Nueva Especialidad</a>
{% endblock %}