{% load static %}
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>SGPC | Inicio</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="favicon.ico" type="image/x-icon"/>


    <link rel="stylesheet" href="{% static 'plugins/bootstrap/dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
        <link rel="stylesheet" href="{% static 'plugins/icon-kit/dist/css/iconkit.min.css' %}">
        <link rel="stylesheet" href="{% static 'plugins/perfect-scrollbar/css/perfect-scrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/theme/css/theme.min.css' %}">
</head>

<body>

<div class="wrapper">
    {% include 'comun/header.html' %}

    {% include 'comun/menu.html' %}
    <div class="main-content">
        <div class="container-fluid">

        </div>
    </div>

    {% include 'comun/footer.html' %}

</div>

    <script src="{% static 'plugins/jquery/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'plugins/popper.js/dist/umd/popper.min.js' %}"></script>
        <script src="{% static 'plugins/bootstrap/dist/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'plugins/perfect-scrollbar/dist/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'plugins/theme/js/theme.js' %}"></script>
</body>
</html>
