{% extends 'comun/crear.html' %}

{% block encabezadoForm %}{{ titulo }}{% endblock %}

{% block formulario %}
    <form method="post">
    {% csrf_token %}
        <h4 class="sub-title">{{ form.nombre.label }}</h4>
        <div class="row">
            <div class="col-sm-12">
                <div class="input-group input-group-primary">
                        <span class="input-group-prepend"><label class="input-group-text"><i
                                class="ik ik-bold"></i></label></span>
                    {{ form.nombre }}
                </div>
            </div>
        </div>
        <div class="border-checkbox-section">
            <div class="border-checkbox-group border-checkbox-group-primary">
                {{ form.estado }}
                <label class="border-checkbox-label text-uppercase" for="estadoCargo">Activo</label>
            </div>
        </div>
        <hr>
        <button type="submit" class="btn btn-primary mr-2"><i class="fa fa-save "></i> Aceptar</button>
        <a href="{% url 'cuadro:listarCargo' %}" class="btn btn-secondary mr-2"><i class="fa fa-arrow-alt-circle-left "></i>Cancelar</a>
    </form>
{% endblock %}